/* HEADER SECTION */
.header-homepage {
    background: url('images/pic_1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-pricing {
    background: url('images/pic_2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* NAV BAR DESIGN */

.nav-link {
    font-size: 14px;
}

.nav-item:hover {
    color: var(--colorpurple);
    transition: ease-out 0.2s;
    cursor: pointer;
}

#hamburger-checkbox {
    display: none;
    position:absolute;
}

.top-bun,
.patty,
.btm-bun {
    background-color: var(--colorwhite);
    height: 5px; /* Height of each bar */
    width: 35px; /* Width of each bar */
    margin: 5px 0; /* Spacing between bars */
    transition: background-color 0.3s;
}

.patty {
    width: 20px !important;
}

.header-icon {
    width: 50px;
    height: 40px;
    background: url(images/smile_off.png) 0 0 no-repeat;
    background-size: contain;
}

.header-logo {
width: 180px;
height: 40px;
background: url(images/logo.png) 0 0 no-repeat;
background-size: contain;
}

/* icon and logo in Header */
.header-icon1 {
    width: 50px;
    height: 40px;
    background: url(images/smile_off.png) 0 0 no-repeat;
    background-size: cover;
    margin-top: 15px;
}

.header-logo1 {
width: 180px;
height: 40px;
background: url(images/logo.png) 0 0 no-repeat;
background-size: cover;
padding-top: 15px;
}



.header-title {
font-size: 180px;
}

/* BUTTON DESIGN

*/
.btn-primary {
    background-color: var(--colorpurple) !important;
    width: 162px;
    height: 44px;
    text-align: center;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

.btn-primary:hover {
    opacity: 0.7;
}

.shadow-lg {
    box-shadow:  0.65rem 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.25) !important;
}

/* HOMEPAGE__-> PROS IMAGE SETTINGS*/
.pros img {
    width: 200px;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* PRICING TABLE */
.green-check {
    width: 5px;
    height: 5px;
    background: url(images/green-check2.png);
    background-repeat: no-repeat;
    background-position: center center;
    }

th {
    font-family: var(--font-family-bold);
    font-size: 14px;
    color: var(--colorwhite);
    font-weight: var(--font-weight-bold);
}

td {
    font-family: var(--font-family-base);
    font-size: 14px;
    color: var(--colorprimary);
    font-weight: var(--font-weight-regular);
}



/* highlighted text in headers */

.purp-span-text {
    font-family: var(--font-family-bold);
    color: var(--colorpurple);
    font-weight: var(--font-weight-bold);
}

/* QUOTE CAROUSEL*/

#quote-carousel {
    background-color: var(--colorpurple);
}

.carousel-control-prev-icon {
    background-image: url(images/arrow_white_left.png);
    width: 40px;
    height: 60px;
}

.carousel-control-next-icon {
    background-image: url(images/arrow_white_right.png);
    width: 40px;
    height: 60px;
}

#quote-carousel img {

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

.blockquote-footer {
    font-size: 14px;
    font-style: italic;
    color: var(--colorwhite);
    margin-bottom: 0;
}

.quote-img {
    width: 180px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quote-content {
    padding: 0 20px;
    margin-left: 10px;
}

/* HOMEPAGE VIDEO Carousel*/
.person-img {
    width: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#video-carousel {
    width: 80%;
    height: auto;
}

.carousel-video-prev-icon {
    background-image: url(images/arrow_black_left.png);
    width: 40px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-video-next-icon {
    background-image: url(images/arrow_black_right.png);
    width: 40px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.play-icon-img {
    left: 50%;
    top: 18%;
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 30%;
    opacity: 0.7;
    /* Adjust the size of the centered image */ 
}
/* special for LATEST VIDEO SECTION */
.play-icon-img1 {
    left: 50%;
    top: 15%;
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 30%;
    opacity: 0.7;
    background-position: center;
    /* Adjust the size of the centered image */ 
}

/* Membership Section */

.membership-section {
    background-color: var(--colorprimary);
    color : var(--colorwhite);

}

.smiley-purp {
    background-color: var(--colorprimary);
    border-style: none;
}

.faqs-section {
    background-color: var(--colorwhite);
    color : var(--colorprimary);
}

/* FOOTER */
.footer-section {
    height:auto;
    background-color: var(--colorprimary);
}

.icon-img {
    justify-content: space-evenly;
    font-family: "holberton_school-icon";
    font-size: 32px;
    color: var(--colorwhite);
}

.facebook-icon::before {
    content: '\e908';
}

.twitter-icon::before {
    content: '\e90f';
}

.instagram-icon::before {
    content: '\e90a';
}

/* DESKTOP DESIGN */
@media screen and (max-width: 1440px) {
    html {

        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: auto;
        font-family: var(--font-family-base);
    }

    .header {
        background: url('images/pic_1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .header-title {
        font-size: 100px;
    }

    .play-icon-img1 {
        left: 50%;
        top: 15%;
        position: absolute;
        transform: translate(-50%, -50%);
        max-width: 30%;
        opacity: 0.7;
        /* Adjust the size of the centered image */ 
    }
}

/* Media Queries for mobile first and Responsive designs */
@media screen and (max-width: 980px) {
    .header-title {
        font-size: 100px !important;
    }

    .play-icon-img1 {
        left: 50%;
        top: 20%;
        position: absolute;
        transform: translate(-50%, -50%);
        max-width: 30%;
        opacity: 0.7;
        /* Adjust the size of the centered image */ 
    }
}


/* TABLET DESIGN*/
@media screen and (max-width: 768px) {
    .header-content {
        padding-top: 0px !important;
    }
    .header-title {
        font-size: 80px !important;
        text-align: center;
    }

    .header-icon {
        width: 50px;
        height: 40px;
        background: url(images/smile_off.png) 0 0 no-repeat;
        background-size: cover;
    }
    .pros img {
        width: 180px;
        height: 140px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .play-icon-img {
        left: 50%;
        top: 25%;
        position: absolute;
        transform: translate(-50%, -50%);
        max-width: 30%;
        opacity: 0.7;
        /* Adjust the size of the centered image */ 
    }

    .play-icon-img1 {
        left: 50%;
        top: 20%;
        position: absolute;
        transform: translate(-50%, -50%);
        max-width: 30%;
        opacity: 0.7;
        /* Adjust the size of the centered image */ 
    }
}

/* MOBILE DESIGN*/
/* Media query for screens smaller than or equal to 576px (sm) */
@media screen and (max-width: 576px) {

    .header {
        background: url('images/pic_1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .header-content {
        padding-top: 0px !important;
    }
    .header-title {
        font-size: 90px !important;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
    }
    .quote-carousel {
        height: auto !important;
    }

    .pros img {
        width: 160px;
        height: 140px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .play-icon-img1 {
        left: 50%;
        top: 20%;
        position: absolute;
        transform: translate(-50%, -50%);
        max-width: 30%;
        opacity: 0.7;
        /* Adjust the size of the centered image */ 
    }

}


